<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vestire</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    
 

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" sizes="114x114" href="/assets/img/gallery/logo.png" />  
 
    <!-- Favicon -->
    <link href="user/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="user/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">V</span>Estire</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5" >
        <div class="row border-top px-xl-5">
            
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            <a href="/products" class="nav-item nav-link">Product</a>
                            <a href="/orders" class="nav-item nav-link">Order</a>
                            <a href="/wishlist" class="nav-item nav-link">Wishlist</a>
                            <a href="/cart" class="nav-item nav-link">Cart</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">

                            <div class="dropdown" style="margin-left: 1400px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: #FE7A15; color:white;">
                                    {{#if user}}
                                    {{user.name}}
                                    {{else}}
                                    Account
                                    {{/if}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {{#if user}}
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                    {{else}}
                                    <a class="dropdown-item" href="/login">Login</a>
                                    {{/if}}
                                    <a class="dropdown-item" href="/signup">Register</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                 <section>{{{body}}}</section>
                  </div>
        </div>
    </div>
    <section class="py-0 pt-7" style="background-color:ghostwhite; width: 100%; height:300px;">

        <div class="container">
            <div class="row pt-3">
                <div class="col-6 col-lg-2 mb-3" style="margin-left: -150px;">
                    <h5 class="lh-lg fw-bold text-1000">Company Info</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">About
                                Us</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Affiliate</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Fashion
                                Blogger</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3" style="margin-left: 50px;">
                    <h5 class="lh-lg fw-bold text-1000">Help &amp; Support</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Shipping
                                Info</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Refunds</a>
                        </li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">How to
                                Order</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">How to
                                Track</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Size
                                Guides</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3" style="margin-left: 50px;">
                    <h5 class="lh-lg fw-bold text-1000">Customer Care</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Contact
                                Us</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Payment
                                Methods</a>
                        </li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!"
                                style="color: #848484; font-size:small;">Bonus
                                Point</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-auto ms-auto" style="margin-left: 315px;">
                    <h5 class="lh-lg fw-bold text-1000">Signup For The Latest News</h5>
                    <div class="row input-group-icon mb-5">
                        <div class="col-12">
                            <input class="form-control input-box" type="email" placeholder="Enter Email"
                                aria-label="email" />
                            <svg class="bi bi-arrow-right-short input-box-icon" xmlns="http://www.w3.org/2000/svg"
                                width="23" height="23" fill="#424242" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <p class="text-800">
                        <svg class="feather feather-phone me-3" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                            </path>
                        </svg><span class="text-800">+917012505376</span>
                    </p>
                    <p class="text-800">
                        <svg class="feather feather-mail me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                            </path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg><span class="text-800">samahasama23@gmail.com</span>
                    </p>
                </div>
            </div>
            <div class="border-bottom border-3" style="margin-top: 20px;"></div>
            <div class="row flex-center my-3">

                <div class="col-md-6">
                    <div class="text-center text-md-end"><a href="#!"><span class="me-4"
                                data-feather="facebook"></span></a><a href="#!"> <span class="me-4"
                                data-feather="instagram"></span></a><a href="#!"> <span class="me-4"
                                data-feather="youtube"></span></a><a href="#!"> <span class="me-4"
                                data-feather="twitter"></span></a></div>
                </div>
            </div>
        </div>


    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>