

                <section >


                    <div class="container mt-5" >

                        <div class="row" >
                            <div class="" style="">
                                <div class="card mb-4" style="border-color: #A7AEB4; margin-left: 300px; width:1000px;" >
                                    <div class="card-header d-flex justify-content-between align-items-center" style="background-color:#FFB30E;">
                                        <h5 class="mb-0">ADD NEW ADDRESS</h5>
                                        {{!-- <small class="text-muted float-end">Default label</small> --}}
                                    </div>
                                    <div class="card-body" >
                                        <form action="/add-address" method="post">
                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-fullname">Name</label>
                                                <input type="text" class="form-control" name="name"
                                                    id="basic-default-fullname" style="border-color: #A7AEB4;" />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-message">Address</label>
                                                <input id="basic-default-message" class="form-control" name="address"
                                                    style="border-color: #A7AEB4;"  />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-phone">Phone</label>
                                                <input type="text" id="basic-default-phone"
                                                    class="form-control phone-mask" name="phone" {{!--
                                                    placeholder="658 799 8941" --}}style="border-color: #A7AEB4;"  />
                                            </div>

                                            <button type="submit" class="btn btn-primary" style="margin-left: 825px;">ADD ADDRESS</button>
                                            {{!-- <a href="/place-order" class="btn btn-block btn-primary my-3 py-3">ADD ADDRESS</a> --}}
                                        </form>
                                    </div>
                                </div>
                            </div>

                            
                            </div>
                        </div>

                        </div>

                        
                    </div>






            </div>



            </section>